.tab{
    &__list{
        display: flex;
        align-items: flex-end;
        margin-left: -.4rem;
        margin-right: -.4rem;
    }
    &__item{
        flex: 1;
        margin: 0 .4rem;
        overflow: hidden;
    }
    &__link{
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 4.8rem;
        text-align: center;
        @include hover;

        &--focus{
            line-height: 6.1rem;
            cursor: default;
            &:hover{
                opacity: 1;
            }
            
        }
    }
    &__body{
        background-color: #fff;
    }
    &__container{
        display: none;
        margin: 0 2.5rem;
    }
}