@import "_library/_colors";
@import "_library/_mixin";
@import "_library/_typo";



 //サンプルページ用CSS


    .wrapper {
        background-color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    } 

    $main: #f08317;
    $font: HiraginoSans-W6;
    .pink {
        background-color: #E63556;
    }
    .orange {
        background-color: $main;
    }
    
//ヘッダー部分のCSS
    .header {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 999999;
        height: 82px;
        color: #222;
        background-color: #fff;
        text-align: center;
        .header-inner {
            margin: 0 auto;
            max-width: 1180px;
            width: calc(100vw - 20px);
            display: flex;
            padding-top: 20px;
            align-items: center;
            justify-content: space-between;
            img {
                height: 38px;
            }
            h1 {
                // margin: 0px 24px 0px 15.4px;
                font-family: HiraginoSans-W6;
                font-size: 13px;
                line-height: 1.31;
                text-align: left;
                margin: 0 15px;
            }
            &__left {
                display: flex;
            }
            &__right {
                display: flex;
                align-items: center;
            }
        }
        &-form {
            // margin: 0 100px 0 0px;
            position: relative;
            input {
                width: 350px;
                padding: 5px 0 5px 40px;
            }
            form:before {
                content: url("/assets/img/receiver.svg");
                position: absolute;
                width: 10px;
                left: 10px;
                top: 5px;
            }
        }
        &-about {
            height: 14px;
            margin: 0px 26px 10px 5.5px;
            font-family: HiraginoSans-W3;
            font-size: 14px;
            a {
                color: #222;
                text-decoration: underline;
            }
        }
        &-login {
            color: $main;
            border: solid 2px $main;
            border-radius: 4px;
            margin: 0 10px 0 0;
        }
        &-login:hover {
            background-color: $main;
            color: #fff;
        }
        &-register {
            color: #fff;
            border: solid 2px $main;
            background-color: $main;
            border-radius: 4px;
        }
        &-register:hover {
            background-color: #fff;
            color: $main;
        }
        .btn {
            text-align: center;
            padding: 5px 20px 10px 20px;
            height: 16px;
            font-family: HiraginoSans-W6;
            font-size: 16px;

        }
    }
    .header-category {
        padding-top: 84px;
        background-color: #111;
        text-align: center;
        width: 100%;
        &__inner {
            display: inline-flex;
        }
        ul {
            justify-content: center;
            display: flex;
            padding: 10px 0;
        }
        li {
            color: #fff;
            list-style: none;
            font-size: 14px;
            margin: 0 2rem 0 0;
            font-family: HiraginoSans-W6;
        }
    }
    
//ボディ部分のCSS

.section {
    width: 100%;
    margin-top: 100px;
    background-color: #fff;
    &-inner {
        margin: 0 auto;
        max-width: 1180px;
        text-align: center;
    }
}

.mv {
    background-color: #fff;
    margin: 0 0 100px 0;
    &-ttl {
        text-align: left;
        font-size: 38px;
        font-family: $font;
        span {
            color: $main;
        }
    }
    &-txt {
        font-size: 16px;
        text-align: left;
        p {
            font-family: $font;
        }
    }
    &-bg {
        min-height:100vh;
        background-attachment:fixed;
        background-size:cover;
        background-position:center;    
    }
    .background {
        background-image: url(/assets/img/mv_bg.jpg);
    }
}
.content-ttl {
    &__sub {
        font-family: NimbusSans;
        font-size: 16px;
        color: #ccc;
        font-weight: bold;
    }
    &__main {
        font-size: 36px;
    }
}
.infoblock {
    display: flex;
    padding: 100px 0;
    .infoblock-content {
        &__ttl {
            text-align: left;
            padding-top: 32px;
            font-size: 32px;
            margin: 0;
            position: relative;
        }
        &__dsc {
            text-align: left;
            padding-top: 32px;
            max-width: 420px;
            font-size: 16px;
            margin: 0;
        }
        .infoblock-content__ttl::before {
            content: '';
            width: 20px;
            background-color: #333;
            top: 10px;
            position: absolute;
            height: 3px;
        }
    }
    &-right {
        position: relative;
        img {
            height: 456px;
            position: absolute;
            top: -123px;
            right: -890px;
            object-fit: cover;
        }
    }
    &-left {
        position: relative;
        width: 800px;
        img {
            height: 456px;
            position: absolute;
            top: -123px;
            left: -123px;
            object-fit: cover;
        }
    }
}
.table {
    border: 1px solid #EEEEEE;
    margin-bottom: 100px;
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    th {
        padding: 30px 0;
        font-family: HiraginoSans-W6;
        font-size: 14px;
    }
    .table-content__service {
       text-align: center;
    }
    .line {
        text-align: left;
        width: 100%;
        padding-left: 20px;
    }
    .first-low {
        min-width: 300px;
    }
    .socond-low {
        min-width: 200px;
    }
    .gray {
        background-color: #f7f7f7;
    }
    .red {
        background-color: rgba(212, 71, 89, 0.2);
        color: #E63556;
    }
    .pink {
        background-color: rgba(212, 71, 89, 0.1);
        color: #E63556;
    }
    .table-content__runking {
        th {
            width: 25%;
        }
    }
}
.black {
    background-color: #111;
    padding: 100px 0;
    color: #fff;
}
.apply {
    width: 100%;
    &-ttl {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-ttl:before {
        margin-right: 10px;
        content: url(https://pfront.kaihatsu-demo.com/public/assets/front/img/icons/sender-wh.svg);
    }
    &-btn {
        margin: 0  auto;
        max-width: 320px;
        border-radius: 4px;
        padding: 20px 0;
        p {
            font-size: 16px;
            font-family: HiraginoSans-W6;
            margin: 0;
        }
    }
    &-atn {
        color: #ccc;
        font-size: 13px;
        margin-top: 24px
    }
    .btn-orange {
        background-color: $main;
    }
}

.section-inner__flow {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}
.step {
    li {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        text-align: left;
    }
    li:last-child {
        align-items: flex-start;
    }
    &-mark {
        padding: 20px 25px;
        align-items: center;
        border: 3px solid $main;
        border-radius: 50%;
        text-align: center;
        p {
            margin: 0;
            color: $main;
        }
        .step-ttl {
            // padding-top: 25px;
            font-size: 16px;
        }
        .number {
            font-size: 30px;
        }
    }
    &-dsc {
        text-align: left;
        margin-left: 40px;
        h4 {
            font-size: 20px;
            margin: 0;
        }
        p {
            font-size: 16px;
            margin: 0;
            width: 100%;
        }
    }
    .step-box {
        text-align: center;
        display: flex;
        justify-content: space-between;
        &__left {
            background-color: rgba(240, 131, 23, 0.1);
            width: 350px;
            padding: 30px 0;
        }
        &__right {
            background-color: rgba(230, 53, 86, 0.1);
            // background-color: rgba(240, 131, 23, 0.1);
            width: 350px;
            padding: 30px 0;
        }
        &__ttl {
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;
            height: 24px;
            padding-bottom: 24px;
            p {
                font-size: 24px;
            }
        }
        .step-box__ttl-mail:before {
            content: url("/assets/img/sender.svg");
            // width: 20px;
            margin-right: 10px;
        }
        .step-box__ttl-receive:before {
            content: url("/assets/img/receiver.svg");
            // width: 20px;
            margin-right: 10px;
        }
        &__line {
            padding: 10px 0;
            color: #fff;
        }
        &__dsc {
            padding: 20px;
            p {
                text-align: left;
            }
        }
        .sub-ttl {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .sub-content {
            font-size: 13px;
            letter-spacing: 0;
        }
    }
}
.section-inner__register {
    margin: 0 auto;
    max-width: 820px;
    text-align: center;
}
.register {
    width: 100%;
    font-family: HiraginoSans-W6;
    &-ttl {
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .register-box{
        color: #222;
        border-radius: 4px;
        display: flex;
        &__white {
            background-color: #fff;
            width: 300px;
            padding: 40px;
            margin: 5px;
            border-radius: 6px;
        }
        &__left-ttl {
            font-size: 20px;
            font: bold;
        }
        &__left-dsc {
            font-size: 13px;
        }
        &__left-regi {
            color: #fff;
            font-size: 16px;
            p {
                border-radius: 6px;
                padding: 22px 0;
            }
        }
        &__left-log {
            font-size: 16px;
        }
        .txt-orange {
            color: $main;
        }
        .txt-pink {
            color: #E63556;
        }
    }
}

.footer {
    font-family: HiraginoSans-W3;
    width: 100%;
    &-menu {
        background-color: #222;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .footer-menu__inner {
        max-width: 1180px;
        position: relative;
        margin: 10px 0;
    }
    a {
        margin: 0 10px;
        color: #fff;
        font-size: 13px;
    }
    a:after {
        position: absolute;
        content: "";
        top: 5px;
        width: 1px;
        height: 10px;
        background-color: #fff;
        margin-left: 10px;
    }
    a:last-child::after {
        width: 0px;
    }
    .footer-logo {
        justify-content: space-between;
        max-width: 1180px;
        display: flex;
        margin: 0 auto;
    }
    .footer-logo__inner {
        text-align: center;
        justify-content: center;
        margin: 10px 0;
    }
}