//- フッタ
// footer
footer.footer
    .footer-menu
        .footer-menu__inner 
            a(href="") PressWalkerとは
            a(href="") 媒体資料
            a(href="") よくあるご質問
            a(href="") 会社概要
            a(href="") お問い合わせ
            a(href="") 利用規約
            a(href="") プライバシーポリシー
    .footer-logo
        .footer-logo__inner 
            img(src="/assets/img/logo.svg", alt="")
            p © KADOKAWA CORPORATION 2022