//- ヘッダ
// header
header.header
    .header-inner 
        .header-inner__left
            img(src="/assets/img/logo.svg", alt="")
            h1.header-title 無料のプレスリリース
                br
                | 配信サービス
            .header-form 
                form(method="get")
                input(type="text" placeholder="キーワードから探す") 
        .header-inner__right
            .header-about 
                a(href="#") PressWalkerとは 
            .header-login.btn ログイン
            .header-register.btn 会員登録
.header-category
    .header-caregory__inner
        ul 
            li すべて
            li デジタル
            li 観光・レジャー
            li エンタメ
            li ホーム
            li 食・グルメ
            li 美容・健康