extends /_partials/_layout-page
block append vars
    - metas.title = "下層ページサンプル" + metas.title
    - pageTitle = "下層ページサンプル2"
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述
block contents-body
    p 下層ページサンプル2下層ページサンプル2下層ページサンプル2下層ページサンプル2
    a(href="page_sample.html") サンプル1
