extends /_partials/_layout-page
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述
block contents-body
    p 下層ページサンプル下層ページサンプル下層ページサンプル下層ページサンプル
    a(href="page_sample2.html") サンプル2
