extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    .section.mv
        .section-inner
            h1.mv-ttl 登録料・利用料無料。
                br
                | 記事化に直結する
                span  プレスリリース配信サービス。
            p.mv-txt 「PressWalker」は完全無料で利用できて、
                br
                | 記事化に直結する新しいプレスリリース配信代行サービスです。
                br
                | 企業情報・サービス情報の発信を、より効果的にサポートします。
        .mv-bg.background
    
    .section
        .section-inner
            .content-ttl
                p.content-ttl__sub To Deliver
                h2.content-ttl__main プレスリリースを無料で配信したい方へ
            .infoblock 
                .infoblock-content 
                    h3.infoblock-content__ttl 無料でプレスリリース
                        br
                        | 配信が可能
                    p.infoblock-content__dsc プレスリリース配信代行サービスに関わる登録料、利用料は完全に無料です。サービス利用に伴う追加費用なども一切発生しないため安心して利用ができ、貴社の広報活動におけるコストを削減することができます。
                .infoblock-right
                    .infoblock-right__img
                        img(src="/assets/img/about_01.jpg", alt="")
            .table 
                .table-content__service
                    table 
                        tr.white
                            th.first-low 機能・サービス
                            th.socond-low 費用
                            th 説明
                        tr 
                            th.gray.first-low 利用登録
                            th.red.socond-low.table-free 無料
                            th.gray.line 登録時に企業審査を行います。審査結果によってはご登録いただけない場合がございます。
                        tr 
                            th.white.first-low プレスリリースメール配信
                            th.pink.socond-low.table-free 無料
                            th.white.line テレビ・新聞・ラジオ・雑誌・WEBメディアなど、500メディア以上にメール配信を行います。
                        tr 
                            th.gray.first-low プレスリリースメディア転載
                            th.red.socond-low.table-free 無料
                            th.gray.line KADOKAWAの運営する5つのWEBメディアに加え、提携のWEBメディア・WEBサイトにプレスリリースの原文転載を行います。
                        tr 
                            th.white.first-low 定量記事化
                            th.pink.socond-low.table-free 無料
                            th.white.line KADOKAWAの運営する5つのWEBメディアにて、毎月一定本数を記事化します。
            .infoblock
                .infoblock-left
                        img(src="/assets/img/about_02.jpg", alt="")
                .infoblock-content
                    h3.infoblock-content__ttl 無料でプレスリリース
                        br
                        | 配信が可能
                    p.infoblock-content__dsc プレスリリース配信代行サービスに関わる登録料、利用料は完全に無料です。サービス利用に伴う追加費用なども一切発生しないため安心して利用ができ、貴社の広報活動におけるコストを削減することができます。
            .table 
                .table-content__runking
                    table 
                        tr
                            th 媒体名
                            th ジャンル
                            th PV/月間
                            th UU/月間
                        tr 
                            th.gray レタスクラブWEB
                            th.gray 生活
                            th.red 67,000,000
                            th.red 11,000,000
                        tr 
                            th Walkerplus
                            th おでかけ
                            th.pink 60,000,000
                            th.pink 10,000,000
                        tr 
                            th.gray WEBザテレビジョン
                            th.gray エンタメ
                            th.red 72,000,000
                            th.red 12,000,000
                        tr 
                            th ダ・ヴィンチニュース
                            th 書籍/漫画
                            th.pink 54,100,000
                            th.pink 6,900,000
                        tr 
                            th.gray 毎日が発見ネット
                            th.gray シニア
                            th.red 5,950,000
                            th.red 1,260,000
    .section.black 
        .section-inner 
            .apply
                .apply-ttl 
                    //- img(src="/assets/img/logo.svg", alt="")
                    p 配信会員登録はこちらからお申し込みください
                .apply-btn.btn-orange
                    p 配信会員に登録する
                .apply-atn 
                    p ※審査に2営業日ほどお時間をいただきます
    .section
        .section-inner
            .content-ttl
                p.content-ttl__sub To Receive
                h2.content-ttl__main プレスリリースを受信したい方へ
            .infoblock 
                .infoblock-content 
                    h3.infoblock-content__ttl 必要な情報を
                        br
                        | ダイレクトに受け取る
                    p.infoblock-content__dsc 「PressWalker」を通じて発信される多彩なプレスリリースを、メディアの皆様に直接メールでお届けします。企業やメーカーの最新情報・一次情報をイチ早く取得することで、取材活動などにお役立ていただけます。
                .infoblock-right
                    .infoblock-right__img
                        img(src="/assets/img/about_03.jpg", alt="")
    .section.black 
        .section-inner 
            .apply
                .apply-ttl 
                    p 受信会員登録はこちらからお申し込みください
                .apply-btn.btn-orange
                    p 配信会員に登録する
                .apply-atn 
                    p ※審査に2営業日ほどお時間をいただきます
    .section
        .section-inner__flow
            .content-ttl
                p.content-ttl__sub FLOW
                h2.content-ttl__main ご利用までの流れ
            .flow 
                .step 
                    ul 
                        li.step-line__center
                            .step-mark
                                p.step-ttl STEP   
                                p.number 01
                            .step-dsc
                                h4 お申し込み(配信会員・受信会員への登録）
                                p 企業情報、担当者情報などの必要事項をフォームに入力し、申請を行います。
                        li.step-line__center
                            .step-mark
                                p.step-ttl STEP   
                                p.number 02
                            .step-dsc
                                h4 申請情報の審査（約2営業日）
                                p 入力いただいた情報をもとに審査が行われます。
                        li.step-line__last 
                            .step-mark
                                p.step-ttl STEP   
                                p.number 03
                            .step-dsc
                                h4 本登録完了
                                p 審査完了後にお送りするメールに記載されているURLをクリックすると、会員登録が完了します。パスワードを設定し、専用の管理画面にログインいただくことで、配信会員の場合は、プレスリリースの作成・配信、受信会員の場合はプレスリリースの受信を行うことが可能になります。
                                .step-box
                                    h5.step-box__left  
                                        .step-box__ttl
                                            p.step-box__ttl-mail 配信会員
                                        .step-box__line.orange
                                            p  対象
                                        .step-box__dsc
                                            p.sub-ttl 法人・団体・研究機関・行政組織 等
                                            p.sub-content プレスリリースの作成・配信に関するサービスを利用することができます。基本的には、法人・団体・研究機関・行政組織などを対象としており、個人事業主のご登録はできません。また、設立半年未満の企業様はご登録いただけません。
                                        .step-box__line.orange
                                            p 利用できるサービス
                                        .step-box__dsc 
                                            p ・プレスリリースの作成
                                                br
                                                | ・プレスリリースのメール配信
                                                br
                                                | ・プレスリリースのメディア転載
                                                br
                                                | ・定量記事化サービス
                                    
                                    h5.step-box__right  
                                        .step-box__ttl 
                                            p.step-box__ttl-receive 受信会員
                                        .step-box__line.pink 
                                            p  対象
                                        .step-box__dsc
                                            p.sub-ttl メディア・メディアに属する個人
                                            p.sub-content 企業が配信したプレスリリースをメールで受信することができます。存在するメディア、またはメディアに所属する個人が対象となります。メディア関係者以外の個人・フリーランスのメディア関係者はご登録いただけません。
                                        .step-box__line.pink
                                            p 利用できるサービス
                                        .step-box__dsc 
                                            p ・プレスリリースの受信
        .section.black 
            .section-inner__register
                .register
                    .register-ttl 
                        p 受信会員登録はこちらからお申し込みください
                    .register-box
                        .register-box__white
                            .register-box__left-ttl
                                p 配信会員の方はこちら
                            .register-box__left-dsc 
                                p PressWalkerを利用してプレスリリースの配信をご希望の方はこちらからご登録ください。
                            .register-box__left-regi 
                                p.orange 新規会員登録
                            .register-box__left-log.txt-orange
                                p 配信会員ログインはこちら
                        .register-box__white
                            .register-box__left-ttl
                                p 配信会員の方はこちら
                            .register-box__left-dsc 
                                p PressWalkerを利用してプレスリリースの配信をご希望の方はこちらからご登録ください。
                            .register-box__left-regi
                                p.pink 新規会員登録
                            .register-box__left-log.txt-pink
                                p 配信会員ログインはこちら